# Ambiente virtual
venv/
.venv/
env/

# Cache do Python
__pycache__/
*.py[cod]

# Cache de ferramentas
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/


# Variáveis de ambiente
.env
.env.*

# Configurações de IDE
.vscode/
.idea/